<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称:{{ name }}</h2>
        <h2>学校地址:{{ address }}</h2>
        <hr />
        <h1>学生信息</h1>
        <button @click.once="addSex">添加一个性别属性,默认值是男</button>
        <h2>学生姓名:{{ stu.name }}</h2>
        <h2>学生真实年龄:{{ stu.age.rAge }}</h2>
        <h2>学生对外年龄:{{ stu.age.sAge}}</h2>
        <h2 v-if="stu.sex">学生性别: {{ stu.sex }}</h2>
        <h2>朋友们</h2>
        <ul v-for="(f, index) in stu.friends" :key="index">
            <li>{{ f.name }} -- {{ f.age }}</li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: '#root',
            data: {
                name: '家里烂蹲大学',
                address: '地球',
                stu: {
                    name: 'tom',
                    age: {
                        rAge: 13,
                        sAge: 29
                    },
                    friends: [
                        {name:'jarry',age:23},
                        {name:'ann',age:12}

                    ]
                }
            },
            methods: {
                addSex(){

                 /*
                    这里面的this指代额是vm ；
                    不能在vm或者vm._data下面添加响应式的属性
                    即利用vue.set(或者vm.$set())api能够添加的属性变为响应式属性       
                    
                */
                // Vue.set(this.stu,'sex','男')
                // 第二种方法：
                // this.$set(this.stu,'sex','男')
                vm.$set(this.stu,'sex','男')

            }    
            },
            
        })
    </script>
</body>

</html>