<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/vue.js"></script>
</head>

<body>
    <!--
		计算属性：
				1.定义：要用的属性不存在，要通过已有属性计算得来。
				2.原理：底层借助了Objcet.defineproperty方法提供的getter和setter。
				3.get函数什么时候执行？
							(1).初次读取时会执行一次。
							(2).当依赖的数据发生改变时会被再次调用。
				4.优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。
				5.备注：
						1.计算属性最终会出现在vm上，直接读取使用即可。
						2.如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变。
	-->
    <div id="root">
        姓：<input type="text" v-model="firstname"><br><br>
        名：<input type="text" v-model="lastname"><br><br>
        <!-- fullName千万不要写() -->
        全名：<span>{{fullName}}</span>

    </div>
    <script>
        Vue.config.productionTip = false;

        const vm=new Vue({
            el: '#root',
            data: {
                firstname: 'zhang',
                lastname: 'san'
            },
            computed: {
                // 非简写属性
                /*fullName: {
                    get() {
                        console.log('get被调用了')
                        return this.firstname + '-' + this.lastname;//this指向的是vm
                    },
                    set(value){
                        console.log('set',value)
                        const str = value.split('-');
                        this.firstname = str[0];
                        this.lastname = str[1];
                    }

                }*/

                // 简写属性 确定他是只读不改才可以
                fullName(){
                    return this.firstname + '-' + this.lastname;//this指向的是vm
  
                }
            }

        })
    </script>
</body>

</html>